{% extends 'base.html.twig' %}

{% block body %}

    <h1>DETAIL </h1>

    {{ dump(data) }}

    <dl>
        <dt>Name</dt>
        <dd>{{ data.name }} / <a href="{{ data.site }}">{{ data.site }}</a></dd>
        <dt>Description</dt>
        <dd>{{ data.description }} </dd>
        <dt>Topics</dt>
        <dd>{% for topic in data.topics %}<span class="badge badge-secondary">{{ topic }}</span> {% endfor %}</dd>

        <dt>Repository / Docs</dt>
        <dd><a href="{{ data.repository|default() }}">{{ data.repository|default() }}</a> / <a href="{{ data.docs }}">{{ data.docs }}</a></dd>
        <dt>Github issues</dt>
        <dd>Open: <code>{{ data.open_issues }}</code>, recently opened: <code>{{ data.opened_recently }}</code>, recently closed: <code>{{ data.closed_recently }}</code></dd>
        <dt>Stargazers</dt>
        <dd>Stargazers: <code>{{ data.stargazers }}</code>, forks: <code>{{ data.forks }}</code></dd>
        <dt>Commits</dt>
        <dd>last year (12 months): <code>{{ data.commits_year }}</code>, last month: <code>{{ data.commits_month }}</code></dd>
        <dt>License</dt>
        <dd>{{ data.license }} </dd>

    </dl>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}