{% extends 'base.html.twig' %}

{% block updated %}Updated on {{ data|first['updated'] }}{% endblock %}

{% block body %}

    <h1>Stiff competition!</h1>

    {% set header = {
        'name': 'Name',
        'site': 'Site',
        'repository': 'Repository',
        'open_issues': 'Open Issues',
        'opened_recently': 'Recently opened / closed',
        'stargazers': 'Stargazers',
        'forks': 'Forks',
        'commits_year': 'Commits per Year',
        'commits_month': 'Commits per month'
} %}

    <table class="table table-striped table-sm" id="competition">

    <thead>
        
    <tr>
        {% for columnname, column in header %}
            <th class="col-{{ columnname }}"
            ><a href="?order={{ columnname }}">{{ column }}</a></th>
        {% endfor %}
    </tr>
    </thead>

    {% for row in data %}

        <tr>
            {% for columnname, column in header %}
            <td class="col-{{ columnname }}">
            {% if columnname in ['site', 'repository', 'docs'] %}
                <a href="{{ row[columnname] }}">{{ row[columnname]|replace({'https://': '', 'github.com': '…', 'www.': ''})|truncate(24) }}</a>
            {% else %}
                {{ row[columnname]|default('-')|join(', ')|truncate(120) }}
            {% endif %}
            {% if columnname == 'name' %}
                / <a href="{{ path('app_details_details', {'slug': row['slug']}) }}">info</a>
            {% endif %}
            {% if columnname == 'opened_recently' %}
                / {{ row['closed_recently'] }}
            {% endif %}

            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    {#{{ dump(data) }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}