{% extends 'base.html.twig' %}

{% block body %}

    <h1>Stiff competition!</h1>

    {% set header = data|first %}

    <table class="table table-striped table-sm" id="competition">

    <thead>
    <tr>
        {% for columnname, column in header %}
            <th class="col-{{ columnname }}"
            ><a href="?order={{ columnname }}">{{ columnname|replace({'_': ' '}) }}</a></th>
        {% endfor %}
    </tr>
    </thead>

    {% for row in data %}

        <tr>
            {% for columnname, column in header %}
            <td class="col-{{ columnname }}">
            {% if columnname in ['site', 'repository', 'docs'] %}
                <a href="{{ row[columnname] }}">{{ row[columnname]|truncate(24) }}</a>
            {% else %}
                {{ row[columnname]|default('-')|join(', ')|truncate(120) }}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    {#{{ dump(data) }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}